# API URL External
EXT1_API_URL=
EXT2_API_URL=

# PORT Server
PORT=3000 # Use port in not used by other server/software

# MySQL/MariaDB/PostgreSQL/SQL Server may have scheme server
DB_HOST=kachina.local # localhost , 127.0.0.254 , example.org or kachina.42.svr
DB_USER=root # Maybe have user such as user
DB_PASSWORD=Please don't show Uthabiti Kachina's passowrd or Castorice, Cipher, Clorinde, Neuvillette, Arlechino will shock you # Sensitive mode
DB_SELECTED=Database_selected # Sensitive name in UNIX (UNIX-Like so) or Huwawei/Harmony based, BE CAREFUL 
DB_PORT=3306 # Database Server PORT
DB_SERVER_PROVIDER=mysql # Must be know such as mysql or postgresql

# SQLite
DB_FILE=../load/filedatabase.kachina # File such as kachina.databse , database.db , or db.sqlite - BE CAREFUL

# Load Database
DATABASE_URL=${DB_SERVER_PROVIDER}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_SELECTED}
DATABASE_LOAD_FILE=file:${DB_FILE}