DATABASE_URL="mysql://janedoe:mypassword@localhost:3306/mydb"
# This is a sample .env file for a MySQL database connection.

PORT=3000
# The port on which the application will run.

ACCESS_TOKEN_SECRET="contoh-token-secret"